* {
  box-sizing: border-box;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
html, body {
  font-size: 20px;
  color: #333;
  min-width: 750px;
  height: 100%;
}
a {
  outline: none!important;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.blur {
  -webkit-filter: blur(10px); /* Chrome, Opera */
     -moz-filter: blur(10px);
      -ms-filter: blur(10px);   
          filter: blur(10px);
}

#app {
  height: 100%;
}
.container {
  width: 750px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
/*iscroll*/
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.scroller {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

/*index*/
.seller-list {
  font-size: 34px;
}

/*优惠信息图标*/
.icon-0 {
  background: url(../images/icons/decrease_1@2x.png) no-repeat;
}
.icon-1 {
  background: url(../images/icons/discount_1@2x.png) no-repeat;
}
.icon-2 {
  background: url(../images/icons/special_1@2x.png) no-repeat;
}
.icon-3 {
  background: url(../images/icons/invoice_1@2x.png) no-repeat;
}
.icon-4 {
  background: url(../images/icons/guarantee_1@2x.png) no-repeat;
}
.icon2-0 {
  background: url(../images/icons/decrease_4@2x.png) no-repeat;
  background-size: 100%;
}
.icon2-1 {
  background: url(../images/icons/discount_4@2x.png) no-repeat;
  background-size: 100%;
}
.icon2-2 {
  background: url(../images/icons/special_4@2x.png) no-repeat;
  background-size: 100%;
}
.icon2-3 {
  background: url(../images/icons/invoice_4@2x.png) no-repeat;
  background-size: 100%;
}
.icon2-4 {
  background: url(../images/icons/guarantee_4@2x.png) no-repeat;
  background-size: 100%;
}
/*推荐、吐槽图标*/
.icon-thumb-bad,
.icon-thumb-good {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: #b7bbbf;
  vertical-align: middle;
}
.icon-thumb-good { fill: #00a0dc;}