.sicon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.sicon-add_circle {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.sicon-arrow_lift {
  width: 32px;
  height: 32px;
  background-position: 0 -32px;
}
.sicon-check_circle {
  width: 32px;
  height: 32px;
  background-position: 0 -64px;
}
.sicon-close {
  width: 32px;
  height: 32px;
  background-position: 0 -96px;
}
.sicon-favorite {
  width: 32px;
  height: 32px;
  background-position: 0 -128px;
}
.sicon-keyboard_arrow_right {
  width: 32px;
  height: 32px;
  background-position: 0 -160px;
}
.sicon-remove_circle_outline {
  width: 32px;
  height: 32px;
  background-position: 0 -192px;
}
.sicon-shopping_cart {
  width: 32px;
  height: 32px;
  background-position: 0 -224px;
}
.sicon-thumb_down {
  width: 32px;
  height: 32px;
  background-position: 0 -256px;
}
.sicon-thumb_up {
  width: 32px;
  height: 32px;
  background-position: 0 -288px;
}

